@tailwind base;

@tailwind components;

@tailwind utilities;

@import './micromodal';

.text-white{
  color: #eae8db;
}

svg {
  fill: currentColor;
}

img#logo{
  width: 235px;
}
img#mmxx{
  height: 12px;
}

.item{
  @apply px-5;
}
.item-image{
  @apply inline-block mb-5;
  max-width: 300px;
  img{
    @apply block w-full;
  }
}
